.calcBody {
  background-color: #efefef;
  border: solid 0.25rem;
  border-radius: 1rem;
  padding: 2rem;
  height: 38rem;
  margin: auto;
  margin-top: 4rem;
  width: 22rem;
}

.resultBox {
  background-color: #fff;
  border: solid 0.25rem;
  height: 9rem;
}

.result {
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-top: 5.5rem;
  text-align: right;
}

.buttonContainer {
  display: flex;
  margin-top: 2rem;
  width: 22rem;
}

.clear {
  background-color: #ff5353;
  border: solid 0.25rem;
  border-radius: 100%;  
  height: 2.5rem;
  margin: 0.25rem;
  padding: 1rem;
  text-align: center;
  width: 2.5rem;
}

.numbers {
  display: flex;
  margin-top: 5.5rem;
  margin-left: -5.5rem;
  flex-wrap: wrap;
  width: 16.5rem;
}

.numbers > div {
  background-color: #9393ff;
  border: solid 0.25rem;
  border-radius: 100%;
  height: 2.5rem;
  margin: 0.25rem;
  padding: 1rem;
  text-align: center;
  text-justify: center;
  width: 2.5rem;
}
.numbers > .zero {
  border-radius: 2rem;
  margin: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 6rem;
}